body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0; 
}

.logotext {
    margin-left: 110px;
    font-style: normal;
}

.container1 {
    width: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #bfd1a8;
    height: 60px;
}

.pic {
    position: absolute;
    height: auto;
    left: 0px;
    width: 100px;
    height: 60px;
}

.navlist a {
    text-decoration: none;
    color: rgb(10, 10, 10);
    padding: 5px 50px;
}

.navlist a:hover {
    background-color: #2a292c54;
}
h3{
    color:rgb(202, 199, 192);
}
h1 {
    text-align: center;
    color: #333;
    font-family: 'Sofia', sans-serif;
    padding: 20px 0;
    background-color: rgb(55, 133, 133);
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0; 
}

.logotext {
    margin-left: 110px;
    font-style: normal;
}

.container1 {
    width: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #040404;
    height: 60px;
}

.pic {
    position: absolute;
    height: auto;
    left: 0px;
    width: 100px;
    height: 60px;
}

.navlist a {
    text-decoration: none;
    color: rgb(200, 195, 195);
    padding: 5px 50px;
}

.navlist a:hover {
    background-color: #77767b54;
}

h1 {
    text-align: center;
    color: #333;
    font-family: 'Sofia', sans-serif;
    padding: 20px 0;
    background-color: rgb(55, 133, 133);
}

#books-list {
    padding: 0 20px; 
}

#books-list > div {
    border: 2px solid black; 
    padding: 20px; 
    margin-bottom: 20px; 
    border-radius: 10px; 
    background-color: rgb(119, 177, 164); 
}
#books-list h2 {
    text-align: center; 
}

#books-list p {
    text-align: center; 
}

#books-list img {
    display: block; 
    margin: 0 auto; 
}

#books-list a {
    display: inline-block;
    padding: 8px 15px; 
    background-color: rgb(240, 169, 26); 
    color: black; 
    text-decoration: none;
    border-radius: 10px; 
    margin-top: 10px; 
}

#books-list a:hover {
    background-color: rgb(204, 115, 37); 
}
footer {
    background: #383737;
    color: #bfbbbe;
    text-align: center;
    width: 100%;
    margin-top: auto;
    font-style: normal;
    padding: 10px 0; 
}

